<span class="pill"><slot /></span>

<style>
	.pill {
		padding: 0.5rem 1rem;
		color: var(--accent-text-over);
		border: 1px solid var(--accent-regular);
		background-color: var(--accent-regular);
		border-radius: 999rem;
		font-size: var(--text-md);
		line-height: 1.35;
		white-space: nowrap;
		text-align: center;
		margin-left: 0.4rem;
		margin-bottom: 0.4rem;
	}
</style>
